<script lang="ts">
	import DefaultLayout from '$layouts/Default.svelte';
	import Navbar from '$components/Navbar/index.svelte';
</script>

<DefaultLayout>
	<Navbar />

	<main>
		<slot />
	</main>
</DefaultLayout>
