<script lang="ts">
	import { page } from '$app/stores';
	import { MetaTags, MetaTagsProps } from 'svelte-meta-tags';
	import About, { metadata } from '../content/about.svx';
	import config from '../config.toml';

	const pageUrl = `${config.baseUrl}${$page.url.pathname}`;

	const metatags: MetaTagsProps = {
		title: `${metadata['title']} - ${config.title}`,
		description: metadata['description'],
		canonical: pageUrl,
		openGraph: {
			type: 'website',
			url: pageUrl,
			locale: config.languageCode,
			title: metadata['title'],
			description: metadata['description'],
			images: config.params.images,
			site_name: config.title
		},
		twitter: {
			cardType: 'summary_large_image'
		}
	};
</script>

<MetaTags {...metatags} />

<About />
