<script lang="ts">
	import { page } from '$app/stores';
	import { MetaTags, MetaTagsProps } from 'svelte-meta-tags';
	import config from '../config.toml';
	import { query, graphql, FeaturedProducts } from '$houdini';
	import ProductList from '$components/ProductList/index.svelte';
	import { t } from 'svelte-intl-precompile';

	const pageUrl = `${config.baseUrl}${$page.url.pathname}`;

	const metatags: MetaTagsProps = {
		title: config.title,
		description: config.params.description,
		canonical: pageUrl,
		openGraph: {
			type: 'website',
			url: pageUrl,
			locale: config.languageCode,
			title: config.title,
			description: config.params.description,
			images: config.params.images,
			site_name: config.title
		},
		twitter: {
			cardType: 'summary_large_image'
		}
	};

	const { data } = query<FeaturedProducts>(graphql`
		query FeaturedProducts {
			products(first: 24) {
				edges {
					node {
						id
						...ProductCard
					}
				}
			}
		}
	`);
</script>

<MetaTags {...metatags} />

<section>
	<div class="mx-auto max-w-2xl px-4 pt-16 sm:px-6 sm:pt-24 lg:max-w-7xl lg:px-8">
		<h1 class="text-2xl font-extrabold tracking-tight text-gray-900 sm:text-3xl">
			{$t('sections.featured.title')}
		</h1>
		<p class="pt-2 font-serif">{$t('sections.featured.description')}</p>
	</div>
	<ProductList products={$data.products.edges} />
</section>
