<script lang="ts">
	import { fragment, graphql, ProductCard } from '$houdini';
	import ImageLoader from '$components/ImageLoader.svelte';
	import { formatCurrency } from '$lib/utils';
	import { locale } from 'svelte-intl-precompile';

	export let product: ProductCard;

	const data = fragment(
		graphql`
			fragment ProductCard on Product {
				name
				description
				category {
					slug
					name
				}
				minimalVariantPrice {
					currency
					amount
				}
				slug
				images {
					id
					alt
					url
				}
			}
		`,
		product
	);

	const getProductUrl = (product) => `/product/${product.slug}`;
</script>

<a sveltekit:prefetch href={getProductUrl(product)} class="group outline-none">
	<div
		class="aspect-w-1 aspect-h-1 xl:aspect-w-7 xl:aspect-h-8 w-full overflow-hidden rounded-lg bg-gray-200 shadow-sm group-hover:shadow-md group-focus:shadow-md dark:bg-gray-800"
	>
		<ImageLoader
			klass="w-full h-full object-center object-cover group-hover:opacity-75 group-focus:bg-gray-300"
			src={$data.images[0].url}
			alt={$data.images[0].alt}
		/>
	</div>
	<h3 class="mt-4 text-sm text-gray-700 dark:text-gray-400">{$data.name}</h3>
	<p class="mt-1 text-lg font-medium text-gray-900 dark:text-gray-100">
		{formatCurrency(
			$data.minimalVariantPrice.amount.toString(),
			$locale,
			$data.minimalVariantPrice.currency
		)}
	</p>
</a>
