<script context="module" lang="ts">
	export function ProductDetailsVariables(page: {
		params: { slug: string };
	}): ProductDetails$input {
		if ([''].includes(page.params.slug)) {
			return this.error(400, 'slug cannot be an empty string');
		}

		return {
			slug: page.params.slug
		};
	}
</script>

<script lang="ts">
	import { query, graphql, ProductDetails, ProductDetails$input } from '$houdini';
	import ProductOverview from '$components/ProductOverview.svelte';

	const { data } = query<ProductDetails>(graphql`
		query ProductDetails($slug: String) {
			product(slug: $slug) {
				name
				description
				images {
					url
					alt
					sortOrder
				}
				minimalVariantPrice {
					currency
					amount
				}
			}
		}
	`);
</script>

<ProductOverview product={$data.product} />
