<script lang="ts">
	import { page } from '$app/stores';
	import { t } from 'svelte-intl-precompile';
	import Toolbar from './Toolbar.svelte';
	import config from '../../config.toml';
	import Logo from '$components/Logo.svelte';

	const navigation = config.menu?.main.sort((a, b) => a.weight - b.weight) ?? [];
</script>

<header
	class="sticky top-0 z-40 border-b bg-white bg-opacity-30 backdrop-blur firefox:bg-opacity-90 dark:bg-gray-900 dark:bg-opacity-10"
>
	<div class="mx-auto lg:max-w-7xl">
		<div class="py-2 px-8 dark:border-zinc-400">
			<div class="relative flex items-center">
				<Logo />
				{#if navigation.length}
					<nav class="grow">
						<ul class="flex items-center justify-center space-x-8">
							{#each navigation as { name, url, identifier } (identifier)}
								<li class:text-sky-700={$page.url.pathname === url}>
									<a
										class="p-3 text-sm hover:text-sky-500 focus:text-sky-500 dark:hover:text-sky-400 dark:focus:text-sky-400"
										sveltekit:prefetch
										href={url}>{$t(`navbar.${identifier}`) || name}</a
									>
								</li>
							{/each}
						</ul>
					</nav>
				{/if}
				<Toolbar />
			</div>
		</div>
	</div>
</header>
