<script lang="ts">
	import { t } from 'svelte-intl-precompile';
	import {
		Dialog,
		DialogOverlay,
		DialogTitle,
		Transition,
		TransitionChild,
		Listbox,
		ListboxButton,
		ListboxOptions,
		ListboxOption
	} from '@rgossiaux/svelte-headlessui';
	import GlobeIcon from '~icons/heroicons-outline/globe';
	import CheckIcon from '~icons/heroicons-outline/check';
	import SelectorIcon from '~icons/heroicons-outline/selector';
	import { currencyCode } from '$lib/stores';
	import { classes } from '$lib/utils';
	import { locale, locales } from 'svelte-intl-precompile';
	import config from '../../config.toml';
	import { savePreference, getSavedPreference } from '$lib/ua';
	import { onMount } from 'svelte';

	const languages = [
		{ name: 'English (United States)', code: 'en-US', unavailable: null },
		{ name: 'Indonesian', code: 'id-ID', unavailable: null },
		{ name: 'Arabic', code: 'ar', unavailable: null }
	];

	languages.forEach((lang) => {
		const firstTwoChars = lang.code.substring(0, 2);
		lang.unavailable =
			!$locales.includes(firstTwoChars) || !config.availableLanguages.includes(firstTwoChars);
	});
	let selectedLanguage = languages[0];
	const handleLanguageChange = (event) => {
		selectedLanguage = event.detail;
	};

	const currencies = [
		{ name: 'United States Dollar', code: 'USD', unavailable: false },
		{ name: 'Dogecoin', code: 'DOGE', unavailable: true },
		{ name: 'Indonesian Rupiah', code: 'IDR', unavailable: false }
	];
	let selectedCurrency = currencies[0];
	const handleCurrencyChange = (event) => {
		selectedCurrency = event.detail;
	};

	export let open = false;

	let cancelButton: HTMLButtonElement;

	const handleSaveBtnClick = () => {
		open = false;
		currencyCode.set(selectedCurrency.code);
		$locale = selectedLanguage.code;
		savePreference('locale', selectedLanguage.code);
		savePreference('currency', selectedCurrency.code);
	};

	onMount(() => {
		const savedLocale = getSavedPreference('locale');
		if (savedLocale) {
			const index = languages.findIndex((lang) => lang.code.includes(savedLocale));
			if (index) {
				selectedLanguage = languages[index];
			}
		}
		const savedCurrency = getSavedPreference('currency');
		if (savedCurrency) {
			const index = currencies.findIndex((currency) =>
				currency.code.includes(getSavedPreference('currency'))
			);
			if (index) {
				selectedCurrency = currencies[index];
			}
		}
	});
</script>

<Transition show={open}>
	<Dialog class="fixed inset-0 z-40 overflow-y-auto" initialFocus={cancelButton}>
		<div
			class="flex min-h-screen items-end justify-center px-4 pt-4 pb-20 text-center sm:block sm:p-0"
		>
			<!-- Background overlay, show/hide based on modal state. -->
			<TransitionChild
				enter="ease-out duration-300"
				enterFrom="opacity-0"
				enterTo="opacity-100"
				leave="ease-in duration-200"
				leaveFrom="opacity-100"
				leaveTo="opacity-0"
			>
				<DialogOverlay class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" />
			</TransitionChild>

			<!-- Modal panel, show/hide based on modal state. -->
			<TransitionChild
				enter="ease-out duration-300"
				enterFrom="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
				enterTo="opacity-100 translate-y-0 sm:scale-100"
				leave="ease-in duration-200"
				leaveFrom="opacity-100 translate-y-0 sm:scale-100"
				leaveTo="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
			>
				<!-- This element is to trick the browser into centering the modal contents. -->
				<span class="hidden sm:inline-block sm:h-screen sm:align-middle" aria-hidden="true"
					>&#8203;</span
				>
				<div
					class="inline-block transform overflow-hidden rounded-lg bg-white text-left align-bottom shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:align-middle"
				>
					<div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
						<div class="sm:flex sm:items-start">
							<div
								class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10"
							>
								<GlobeIcon class="h-6 w-6 text-gray-600" />
							</div>
							<div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
								<DialogTitle as="h3" class="text-lg font-medium leading-6 text-gray-900">
									{$t('navbar.toolbar.modal.select.currency')}
								</DialogTitle>
								<div class="mt-2">
									<!-- Currency listbox -->
									<Listbox value={selectedCurrency} on:change={handleCurrencyChange}>
										<div class="relative mt-1">
											<ListboxButton
												class="relative w-full cursor-default rounded-md bg-gray-100 py-2 pl-3 pr-10 text-left shadow-inner focus:outline-none focus-visible:border-indigo-500 focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75 focus-visible:ring-offset-2 focus-visible:ring-offset-orange-300 sm:text-sm"
											>
												<span class="block truncate">{selectedCurrency.name}</span>
												<span
													class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2"
												>
													<SelectorIcon class="h-5 w-5 text-gray-400" />
												</span>
											</ListboxButton>
											<Transition
												leave="transition ease-in duration-100"
												leaveFrom="opacity-100"
												leaveTo="opacity-0"
											>
												<ListboxOptions
													class="absolute z-20 mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm"
												>
													{#each currencies as currency (currency.name)}
														<ListboxOption
															key={currency.name}
															let:active
															let:selected
															disabled={currency.unavailable}
															value={currency}
															class={({ active }) => {
																return classes(
																	active ? 'text-amber-900 bg-amber-100' : 'text-gray-900',
																	'cursor-default select-none relative py-2 pl-10 pr-4'
																);
															}}
														>
															{#if selected}
																<span class="block truncate font-medium">
																	{currency.name}
																	<span
																		class={classes(
																			active ? 'text-amber-600' : 'text-amber-600',
																			'absolute inset-y-0 left-0 flex items-center pl-3'
																		)}
																	>
																		<CheckIcon class="h-5 w-5" aria-hidden="true" />
																	</span>
																</span>
															{:else}
																<span class="font-normal block truncate">
																	{#if currency.unavailable}
																		<span class="opacity-25">{currency.name}</span>
																	{:else}
																		{currency.name}
																	{/if}
																</span>
															{/if}
														</ListboxOption>
													{/each}
												</ListboxOptions>
											</Transition>
										</div>
									</Listbox>

									<DialogTitle as="h3" class="mt-4 text-lg font-medium leading-6 text-gray-900">
										{$t('navbar.toolbar.modal.select.language')}
									</DialogTitle>

									<!-- Language listbox -->
									<Listbox value={selectedLanguage} on:change={handleLanguageChange}>
										<div class="relative mt-1">
											<ListboxButton
												class="relative w-full cursor-default rounded-md bg-gray-100 py-2 pl-3 pr-10 text-left shadow-inner focus:outline-none focus-visible:border-indigo-500 focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75 focus-visible:ring-offset-2 focus-visible:ring-offset-orange-300 sm:text-sm"
											>
												<span class="block truncate">{selectedLanguage.name}</span>
												<span
													class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2"
												>
													<SelectorIcon class="h-5 w-5 text-gray-400" aria-hidden="true" />
												</span>
											</ListboxButton>
											<Transition
												leave="transition ease-in duration-100"
												leaveFrom="opacity-100"
												leaveTo="opacity-0"
											>
												<ListboxOptions
													class="absolute z-10 mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm"
												>
													{#each languages as language (language.name)}
														<ListboxOption
															key={language.name}
															let:active
															let:selected
															disabled={language.unavailable}
															value={language}
															class={({ active }) => {
																return classes(
																	active ? 'text-amber-900 bg-amber-100' : 'text-gray-900',
																	'cursor-default select-none relative py-2 pl-10 pr-4'
																);
															}}
														>
															{#if selected}
																<span class="block truncate font-medium">
																	{language.name}
																	<span
																		class={classes(
																			active ? 'text-amber-600' : 'text-amber-600',
																			'absolute inset-y-0 left-0 flex items-center pl-3'
																		)}
																	>
																		<CheckIcon class="h-5 w-5" aria-hidden="true" />
																	</span>
																</span>
															{:else}
																<span class="font-normal block truncate">
																	{#if language.unavailable}
																		<span class="opacity-25">{language.name}</span>
																	{:else}
																		{language.name}
																	{/if}
																</span>
															{/if}
														</ListboxOption>
													{/each}
												</ListboxOptions>
											</Transition>
										</div>
									</Listbox>
									<p class="mt-4 text-sm text-gray-500">
										{$t('navbar.toolbar.modal.notice.text')}
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
						<button
							on:click={handleSaveBtnClick}
							type="button"
							class="inline-flex w-full justify-center rounded-md border border-transparent bg-blue-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm"
						>
							{$t('navbar.toolbar.modal.button.save')}
						</button>
						<button
							bind:this={cancelButton}
							on:click={() => (open = false)}
							type="button"
							class="mt-3 inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
						>
							{$t('navbar.toolbar.modal.button.cancel')}
						</button>
					</div>
				</div>
			</TransitionChild>
		</div>
	</Dialog>
</Transition>
