<script lang="ts">
	import { page } from '$app/stores';
	import { currencyCode } from '$lib/stores';
	import ShoppingBagIcon from '~icons/heroicons-outline/shopping-bag';
	import SearchIcon from '~icons/heroicons-outline/search';
	import { shouldShowPageSchema } from '$lib/stores';
	import { t } from 'svelte-intl-precompile';
	import RegionModal from './RegionModal.svelte';
	import { onDestroy, onMount } from 'svelte';
	import { getSavedPreference } from '$lib/ua';

	const searchRoute = '/search';
	const cartRoute = '/cart';
	const loginRoute = '/account/login';
	const registerRoute = '/account/register';

	const flags = [
		{ code: 'us', currency: 'USD', href: 'https://flagicons.lipis.dev/flags/4x3/us.svg' },
		{ code: 'id', currency: 'IDR', href: 'https://flagicons.lipis.dev/flags/4x3/id.svg' }
	];
	let selectedFlag = flags[0];
	const setSelectedFlag = (currency: string) => {
		selectedFlag = flags.filter((flag) => flag.currency === currency)[0];
	};

	let changeRegionModalOpen = false;

	const unsubscribe = currencyCode.subscribe((value) => {
		setSelectedFlag(value);
	});

	onMount(() => {
		const savedCurrency = getSavedPreference('currency');
		if (savedCurrency) {
			setSelectedFlag(savedCurrency);
			$currencyCode = savedCurrency;
		}
	});
	onDestroy(unsubscribe);
</script>

<div class="flex items-center space-x-8 text-gray-400">
	{#if $page.url.pathname.includes('/about')}
		<button
			on:click={shouldShowPageSchema.toggle}
			class="{$shouldShowPageSchema
				? 'text-white bg-sky-600 border-sky-50'
				: 'text-sky-600 border-sky-200'} flex items-center rounded-full border px-4 py-1 text-sm font-semibold hover:border-transparent hover:bg-sky-600 hover:text-white focus:outline-none focus:ring-2 focus:ring-sky-600 focus:ring-offset-2"
		>
			<span class="material-icons sm:mr-1">manage_search</span>
			<span class="sr-only sm:not-sr-only">{$t('navbar.schema')}</span>
		</button>
	{/if}
	<div class="hidden lg:flex lg:flex-1 lg:items-center lg:justify-end lg:space-x-6">
		<a href={loginRoute} class="p-3 text-sm font-medium text-gray-700 hover:text-gray-800">
			{$t('navbar.toolbar.login')}
		</a>
		<span class="h-6 w-px bg-gray-200" aria-hidden="true" />
		<a href={registerRoute} class="p-3 text-sm font-medium text-gray-700 hover:text-gray-800">
			{$t('navbar.toolbar.register')}
		</a>
	</div>
	<div class="hidden lg:ml-8 lg:flex">
		<button
			on:click={() => (changeRegionModalOpen = true)}
			class="flex items-center p-2 text-gray-700 hover:text-gray-800"
		>
			<img src={selectedFlag.href} alt="" class="block h-auto w-5 flex-shrink-0" />
			<span class="ml-3 block text-sm font-medium">{$currencyCode}</span>
			<span class="sr-only">, change currency</span>
		</button>
	</div>
	<div class="flex lg:ml-6">
		<a href={searchRoute} class="p-2 text-gray-400 hover:text-gray-500">
			<span class="sr-only">Search</span>
			<SearchIcon class="h-6 w-6" aria-hidden="true" />
		</a>
	</div>
	<div class="ml-4 flow-root lg:ml-6">
		<a href={cartRoute} class="group -m-2 flex items-center p-2">
			<ShoppingBagIcon
				class="h-6 w-6 flex-shrink-0 text-gray-400 group-hover:text-gray-500"
				aria-hidden="true"
			/>
			<span class="ml-2 text-sm font-medium text-gray-700 group-hover:text-gray-800">0</span>
			<span class="sr-only">items in cart, view bag</span>
		</a>
	</div>
</div>

<RegionModal bind:open={changeRegionModalOpen} />
