<script lang="ts">
	export let src: string,
		klass: string,
		loading = 'lazy',
		alt: string;

	import IntersectionObserver from 'svelte-intersection-observer';
	import { fly } from 'svelte/transition';

	let node: HTMLElement;
</script>

<IntersectionObserver once element={node} let:intersecting>
	<div bind:this={node}>
		{#if intersecting}
			<img class={klass} {src} {alt} {loading} in:fly={{ x: -5, delay: 200 }} />
		{/if}
	</div>
</IntersectionObserver>
