<script lang="ts">
	import { t } from 'svelte-intl-precompile';
	import { formatTitle, formatDateIntl } from '$lib/utils';

	export let metadata: { [x: string]: any };

	const styleRowsFromIndex = (idx: number) => {
		return idx % 2 === 0 ? 'bg-gray-50 dark:bg-gray-800' : 'bg-white dark:bg-gray-900';
	};

	const listTypes = ['keywords', 'categories'];
	const dateTypes = ['dateCreated', 'datePublished', 'lastModified', 'lastReviewed'];
	const schemaItems = Object.keys(metadata);
</script>

<div class="mb-10 overflow-hidden bg-white dark:bg-gray-900">
	<div class="px-4 py-5 sm:px-6">
		<h3 class="text-lg font-medium leading-6 text-gray-900 dark:text-gray-100">
			{$t('navbar.toolbar.schema.heading')}
		</h3>
		<p class="mt-1 max-w-2xl text-sm text-gray-400">{$t('navbar.toolbar.schema.subheading')}</p>
	</div>
	<div class="border-t border-gray-200 dark:border-gray-500">
		<dl>
			{#each schemaItems as schemaItem, idx}
				<div class="{styleRowsFromIndex(idx)} px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
					<dt class="text-sm font-medium text-gray-400">{formatTitle(schemaItem)}:</dt>
					<dd class="mt-1 text-sm text-gray-900 dark:text-gray-100 sm:col-span-2 sm:mt-0">
						{#if dateTypes.includes(schemaItem)}
							<time datetime={metadata[schemaItem]}>{formatDateIntl(metadata[schemaItem])}</time>
						{:else if listTypes.includes(schemaItem)}
							{#if metadata[schemaItem].length > 0}
								<ul>
									{#each metadata[schemaItem] as keyword}
										<li>{keyword}</li>
									{/each}
								</ul>
							{:else}
								<i>{$t('navbar.toolbar.schema.nokeywords')}</i>
							{/if}
						{:else}
							{metadata[schemaItem]}
						{/if}
					</dd>
				</div>
			{/each}
		</dl>
	</div>
</div>
