<script lang="ts">
	import { locale } from 'svelte-intl-precompile';
	import { formatCurrency } from '$lib/utils';

	export let product;
</script>

<div class="bg-white">
	<div class="pt-6">
		<nav aria-label="Breadcrumb">
			<ol
				role="list"
				class="mx-auto flex max-w-2xl items-center space-x-2 px-4 sm:px-6 lg:max-w-7xl lg:px-8"
			>
				<li>
					<div class="flex items-center">
						<a href="#" class="mr-2 text-sm font-medium text-gray-900"> Men </a>
						<svg
							width="16"
							height="20"
							viewBox="0 0 16 20"
							fill="currentColor"
							xmlns="http://www.w3.org/2000/svg"
							aria-hidden="true"
							class="h-5 w-4 text-gray-300"
						>
							<path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
						</svg>
					</div>
				</li>

				<li>
					<div class="flex items-center">
						<a href="#" class="mr-2 text-sm font-medium text-gray-900"> Clothing </a>
						<svg
							width="16"
							height="20"
							viewBox="0 0 16 20"
							fill="currentColor"
							xmlns="http://www.w3.org/2000/svg"
							aria-hidden="true"
							class="h-5 w-4 text-gray-300"
						>
							<path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
						</svg>
					</div>
				</li>

				<li class="text-sm">
					<a href="#" aria-current="page" class="font-medium text-gray-500 hover:text-gray-600">
						<!-- Basic Tee 6-Pack -->
						{product.name}
					</a>
				</li>
			</ol>
		</nav>

		<!-- Image gallery -->
		<div
			class="mx-auto mt-6 max-w-2xl sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:gap-x-8 lg:px-8"
		>
			<div class="aspect-w-3 aspect-h-4 hidden overflow-hidden rounded-lg lg:block">
				<img
					src="https://tailwindui.com/img/ecommerce-images/product-page-02-secondary-product-shot.jpg"
					alt="Two each of gray, white, and black shirts laying flat."
					class="h-full w-full object-cover object-center"
				/>
			</div>
			<div class="hidden lg:grid lg:grid-cols-1 lg:gap-y-8">
				<div class="aspect-w-3 aspect-h-2 overflow-hidden rounded-lg">
					<img
						src="https://tailwindui.com/img/ecommerce-images/product-page-02-tertiary-product-shot-01.jpg"
						alt="Model wearing plain black basic tee."
						class="h-full w-full object-cover object-center"
					/>
				</div>
				<div class="aspect-w-3 aspect-h-2 overflow-hidden rounded-lg">
					<img
						src="https://tailwindui.com/img/ecommerce-images/product-page-02-tertiary-product-shot-02.jpg"
						alt="Model wearing plain gray basic tee."
						class="h-full w-full object-cover object-center"
					/>
				</div>
			</div>
			<div
				class="aspect-w-4 aspect-h-5 lg:aspect-w-3 lg:aspect-h-4 sm:overflow-hidden sm:rounded-lg"
			>
				<!-- <img
					src="https://tailwindui.com/img/ecommerce-images/product-page-02-featured-product-shot.jpg"
					alt="Model wearing plain white basic tee."
					class="w-full h-full object-center object-cover"
				/> -->
				<img
					src={product.images[0].url}
					alt={product.images[0].alt}
					class="h-full w-full object-cover object-center"
				/>
			</div>
		</div>

		<!-- Product info -->
		<div
			class="mx-auto max-w-2xl px-4 pt-10 pb-16 sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:grid-rows-[auto,auto,1fr] lg:gap-x-8 lg:px-8 lg:pt-16 lg:pb-24"
		>
			<div class="lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
				<h1 class="text-2xl font-extrabold tracking-tight text-gray-900 sm:text-3xl">
					<!-- Basic Tee 6-Pack -->
					{product.name}
				</h1>
			</div>

			<!-- Options -->
			<div class="mt-4 lg:row-span-3 lg:mt-0">
				<h2 class="sr-only">Product information</h2>
				<p class="text-3xl text-gray-900">
					{formatCurrency(
						product.minimalVariantPrice.amount.toString(),
						$locale,
						product.minimalVariantPrice.currency
					)}
				</p>

				<!-- Reviews -->
				<div class="mt-6">
					<h3 class="sr-only">Reviews</h3>
					<div class="flex items-center">
						<div class="flex items-center">
							<!--
                Heroicon name: solid/star

                Active: "text-gray-900", Default: "text-gray-200"
              -->
							<svg
								class="h-5 w-5 flex-shrink-0 text-gray-900"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20"
								fill="currentColor"
								aria-hidden="true"
							>
								<path
									d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
								/>
							</svg>

							<!-- Heroicon name: solid/star -->
							<svg
								class="h-5 w-5 flex-shrink-0 text-gray-900"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20"
								fill="currentColor"
								aria-hidden="true"
							>
								<path
									d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
								/>
							</svg>

							<!-- Heroicon name: solid/star -->
							<svg
								class="h-5 w-5 flex-shrink-0 text-gray-900"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20"
								fill="currentColor"
								aria-hidden="true"
							>
								<path
									d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
								/>
							</svg>

							<!-- Heroicon name: solid/star -->
							<svg
								class="h-5 w-5 flex-shrink-0 text-gray-900"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20"
								fill="currentColor"
								aria-hidden="true"
							>
								<path
									d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
								/>
							</svg>

							<!-- Heroicon name: solid/star -->
							<svg
								class="h-5 w-5 flex-shrink-0 text-gray-200"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20"
								fill="currentColor"
								aria-hidden="true"
							>
								<path
									d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
								/>
							</svg>
						</div>
						<p class="sr-only">4 out of 5 stars</p>
						<a href="#" class="ml-3 text-sm font-medium text-indigo-600 hover:text-indigo-500"
							>117 reviews</a
						>
					</div>
				</div>

				<form class="mt-10">
					<!-- Colors -->
					<div>
						<h3 class="text-sm font-medium text-gray-900">Color</h3>

						<fieldset class="mt-4">
							<legend class="sr-only"> Choose a color </legend>
							<div class="flex items-center space-x-3">
								<!--
                  Active and Checked: "ring ring-offset-1"
                  Not Active and Checked: "ring-2"
                -->
								<label
									class="relative -m-0.5 flex cursor-pointer items-center justify-center rounded-full p-0.5 ring-gray-400 focus:outline-none"
								>
									<input
										type="radio"
										name="color-choice"
										value="White"
										class="sr-only"
										aria-labelledby="color-choice-0-label"
									/>
									<p id="color-choice-0-label" class="sr-only">White</p>
									<span
										aria-hidden="true"
										class="h-8 w-8 rounded-full border border-black border-opacity-10 bg-white"
									/>
								</label>

								<!--
                  Active and Checked: "ring ring-offset-1"
                  Not Active and Checked: "ring-2"
                -->
								<label
									class="relative -m-0.5 flex cursor-pointer items-center justify-center rounded-full p-0.5 ring-gray-400 focus:outline-none"
								>
									<input
										type="radio"
										name="color-choice"
										value="Gray"
										class="sr-only"
										aria-labelledby="color-choice-1-label"
									/>
									<p id="color-choice-1-label" class="sr-only">Gray</p>
									<span
										aria-hidden="true"
										class="h-8 w-8 rounded-full border border-black border-opacity-10 bg-gray-200"
									/>
								</label>

								<!--
                  Active and Checked: "ring ring-offset-1"
                  Not Active and Checked: "ring-2"
                -->
								<label
									class="relative -m-0.5 flex cursor-pointer items-center justify-center rounded-full p-0.5 ring-gray-900 focus:outline-none"
								>
									<input
										type="radio"
										name="color-choice"
										value="Black"
										class="sr-only"
										aria-labelledby="color-choice-2-label"
									/>
									<p id="color-choice-2-label" class="sr-only">Black</p>
									<span
										aria-hidden="true"
										class="h-8 w-8 rounded-full border border-black border-opacity-10 bg-gray-900"
									/>
								</label>
							</div>
						</fieldset>
					</div>

					<!-- Sizes -->
					<div class="mt-10">
						<div class="flex items-center justify-between">
							<h3 class="text-sm font-medium text-gray-900">Size</h3>
							<a href="#" class="text-sm font-medium text-indigo-600 hover:text-indigo-500"
								>Size guide</a
							>
						</div>

						<fieldset class="mt-4">
							<legend class="sr-only"> Choose a size </legend>
							<div class="grid grid-cols-4 gap-4 sm:grid-cols-8 lg:grid-cols-4">
								<!-- Active: "ring-2 ring-indigo-500" -->
								<label
									class="group relative flex cursor-not-allowed items-center justify-center rounded-md border bg-gray-50 py-3 px-4 text-sm font-medium uppercase text-gray-200 hover:bg-gray-50 focus:outline-none sm:flex-1 sm:py-6"
								>
									<input
										type="radio"
										name="size-choice"
										value="XXS"
										disabled
										class="sr-only"
										aria-labelledby="size-choice-0-label"
									/>
									<p id="size-choice-0-label">XXS</p>

									<div
										aria-hidden="true"
										class="pointer-events-none absolute -inset-px rounded-md border-2 border-gray-200"
									>
										<svg
											class="absolute inset-0 h-full w-full stroke-2 text-gray-200"
											viewBox="0 0 100 100"
											preserveAspectRatio="none"
											stroke="currentColor"
										>
											<line x1="0" y1="100" x2="100" y2="0" vector-effect="non-scaling-stroke" />
										</svg>
									</div>
								</label>

								<!-- Active: "ring-2 ring-indigo-500" -->
								<label
									class="group relative flex cursor-pointer items-center justify-center rounded-md border bg-white py-3 px-4 text-sm font-medium uppercase text-gray-900 shadow-sm hover:bg-gray-50 focus:outline-none sm:flex-1 sm:py-6"
								>
									<input
										type="radio"
										name="size-choice"
										value="XS"
										class="sr-only"
										aria-labelledby="size-choice-1-label"
									/>
									<p id="size-choice-1-label">XS</p>

									<!--
                    Active: "border", Not Active: "border-2"
                    Checked: "border-indigo-500", Not Checked: "border-transparent"
                  -->
									<div
										class="pointer-events-none absolute -inset-px rounded-md"
										aria-hidden="true"
									/>
								</label>

								<!-- Active: "ring-2 ring-indigo-500" -->
								<label
									class="group relative flex cursor-pointer items-center justify-center rounded-md border bg-white py-3 px-4 text-sm font-medium uppercase text-gray-900 shadow-sm hover:bg-gray-50 focus:outline-none sm:flex-1 sm:py-6"
								>
									<input
										type="radio"
										name="size-choice"
										value="S"
										class="sr-only"
										aria-labelledby="size-choice-2-label"
									/>
									<p id="size-choice-2-label">S</p>

									<!--
                    Active: "border", Not Active: "border-2"
                    Checked: "border-indigo-500", Not Checked: "border-transparent"
                  -->
									<div
										class="pointer-events-none absolute -inset-px rounded-md"
										aria-hidden="true"
									/>
								</label>

								<!-- Active: "ring-2 ring-indigo-500" -->
								<label
									class="group relative flex cursor-pointer items-center justify-center rounded-md border bg-white py-3 px-4 text-sm font-medium uppercase text-gray-900 shadow-sm hover:bg-gray-50 focus:outline-none sm:flex-1 sm:py-6"
								>
									<input
										type="radio"
										name="size-choice"
										value="M"
										class="sr-only"
										aria-labelledby="size-choice-3-label"
									/>
									<p id="size-choice-3-label">M</p>

									<!--
                    Active: "border", Not Active: "border-2"
                    Checked: "border-indigo-500", Not Checked: "border-transparent"
                  -->
									<div
										class="pointer-events-none absolute -inset-px rounded-md"
										aria-hidden="true"
									/>
								</label>

								<!-- Active: "ring-2 ring-indigo-500" -->
								<label
									class="group relative flex cursor-pointer items-center justify-center rounded-md border bg-white py-3 px-4 text-sm font-medium uppercase text-gray-900 shadow-sm hover:bg-gray-50 focus:outline-none sm:flex-1 sm:py-6"
								>
									<input
										type="radio"
										name="size-choice"
										value="L"
										class="sr-only"
										aria-labelledby="size-choice-4-label"
									/>
									<p id="size-choice-4-label">L</p>

									<!--
                    Active: "border", Not Active: "border-2"
                    Checked: "border-indigo-500", Not Checked: "border-transparent"
                  -->
									<div
										class="pointer-events-none absolute -inset-px rounded-md"
										aria-hidden="true"
									/>
								</label>

								<!-- Active: "ring-2 ring-indigo-500" -->
								<label
									class="group relative flex cursor-pointer items-center justify-center rounded-md border bg-white py-3 px-4 text-sm font-medium uppercase text-gray-900 shadow-sm hover:bg-gray-50 focus:outline-none sm:flex-1 sm:py-6"
								>
									<input
										type="radio"
										name="size-choice"
										value="XL"
										class="sr-only"
										aria-labelledby="size-choice-5-label"
									/>
									<p id="size-choice-5-label">XL</p>

									<!--
                    Active: "border", Not Active: "border-2"
                    Checked: "border-indigo-500", Not Checked: "border-transparent"
                  -->
									<div
										class="pointer-events-none absolute -inset-px rounded-md"
										aria-hidden="true"
									/>
								</label>

								<!-- Active: "ring-2 ring-indigo-500" -->
								<label
									class="group relative flex cursor-pointer items-center justify-center rounded-md border bg-white py-3 px-4 text-sm font-medium uppercase text-gray-900 shadow-sm hover:bg-gray-50 focus:outline-none sm:flex-1 sm:py-6"
								>
									<input
										type="radio"
										name="size-choice"
										value="2XL"
										class="sr-only"
										aria-labelledby="size-choice-6-label"
									/>
									<p id="size-choice-6-label">2XL</p>

									<!--
                    Active: "border", Not Active: "border-2"
                    Checked: "border-indigo-500", Not Checked: "border-transparent"
                  -->
									<div
										class="pointer-events-none absolute -inset-px rounded-md"
										aria-hidden="true"
									/>
								</label>

								<!-- Active: "ring-2 ring-indigo-500" -->
								<label
									class="group relative flex cursor-pointer items-center justify-center rounded-md border bg-white py-3 px-4 text-sm font-medium uppercase text-gray-900 shadow-sm hover:bg-gray-50 focus:outline-none sm:flex-1 sm:py-6"
								>
									<input
										type="radio"
										name="size-choice"
										value="3XL"
										class="sr-only"
										aria-labelledby="size-choice-7-label"
									/>
									<p id="size-choice-7-label">3XL</p>

									<!--
                    Active: "border", Not Active: "border-2"
                    Checked: "border-indigo-500", Not Checked: "border-transparent"
                  -->
									<div
										class="pointer-events-none absolute -inset-px rounded-md"
										aria-hidden="true"
									/>
								</label>
							</div>
						</fieldset>
					</div>

					<button
						type="submit"
						class="mt-10 flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 py-3 px-8 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
						>Add to bag</button
					>
				</form>
			</div>

			<div
				class="py-10 lg:col-span-2 lg:col-start-1 lg:border-r lg:border-gray-200 lg:pt-6 lg:pb-16 lg:pr-8"
			>
				<!-- Description and details -->
				<div>
					<h3 class="sr-only">Description</h3>

					<div class="space-y-6">
						<p class="font-serif text-base text-gray-900">
							<!-- The Basic Tee 6-Pack allows you to fully express your vibrant personality with three
							grayscale options. Feeling adventurous? Put on a heather gray tee. Want to be a
							trendsetter? Try our exclusive colorway: &quot;Black&quot;. Need to add an extra pop
							of color to your outfit? Our white tee has you covered. -->
							{product.description}
						</p>
					</div>
				</div>

				<div class="mt-10">
					<h3 class="text-sm font-medium text-gray-900">Highlights</h3>

					<div class="mt-4">
						<ul role="list" class="list-disc space-y-2 pl-4 text-sm">
							<li class="text-gray-400">
								<span class="text-gray-600">Hand cut and sewn locally</span>
							</li>

							<li class="text-gray-400">
								<span class="text-gray-600">Dyed with our proprietary colors</span>
							</li>

							<li class="text-gray-400">
								<span class="text-gray-600">Pre-washed &amp; pre-shrunk</span>
							</li>

							<li class="text-gray-400">
								<span class="text-gray-600">Ultra-soft 100% cotton</span>
							</li>
						</ul>
					</div>
				</div>

				<div class="mt-10">
					<h2 class="text-sm font-medium text-gray-900">Details</h2>

					<div class="mt-4 space-y-6">
						<p class="text-sm text-gray-600">
							The 6-Pack includes two black, two white, and two heather gray Basic Tees. Sign up for
							our subscription service and be the first to get new, exciting colors, like our
							upcoming &quot;Charcoal Gray&quot; limited release.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<section>
	<div class="bg-white">
		<div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
			<h2 class="text-2xl font-extrabold tracking-tight text-gray-900">Customers also purchased</h2>

			<div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
				<div class="group relative">
					<div
						class="min-h-80 aspect-w-1 aspect-h-1 lg:aspect-none w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:h-80"
					>
						<img
							src="https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-01.jpg"
							alt="Front of men&#039;s Basic Tee in black."
							class="h-full w-full object-cover object-center lg:h-full lg:w-full"
						/>
					</div>
					<div class="mt-4 flex justify-between">
						<div>
							<h3 class="text-sm text-gray-700">
								<a href="#">
									<span aria-hidden="true" class="absolute inset-0" />
									Basic Tee
								</a>
							</h3>
							<p class="mt-1 text-sm text-gray-500">Black</p>
						</div>
						<p class="text-sm font-medium text-gray-900">$35</p>
					</div>
				</div>

				<div class="group relative">
					<div
						class="min-h-80 aspect-w-1 aspect-h-1 lg:aspect-none w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:h-80"
					>
						<img
							src="https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-02.jpg"
							alt="Front of men's Basic Tee in white."
							class="h-full w-full object-cover object-center lg:h-full lg:w-full"
						/>
					</div>
					<div class="mt-4 flex justify-between">
						<div>
							<h3 class="text-sm text-gray-700">
								<a href="#">
									<span aria-hidden="true" class="absolute inset-0" />
									Basic Tee
								</a>
							</h3>
							<p class="mt-1 text-sm text-gray-500">Aspen White</p>
						</div>
						<p class="text-sm font-medium text-gray-900">$35</p>
					</div>
				</div>

				<div class="group relative">
					<div
						class="min-h-80 aspect-w-1 aspect-h-1 lg:aspect-none w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:h-80"
					>
						<img
							src="https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-03.jpg"
							alt="Front of men's Basic Tee in dark gray."
							class="h-full w-full object-cover object-center lg:h-full lg:w-full"
						/>
					</div>
					<div class="mt-4 flex justify-between">
						<div>
							<h3 class="text-sm text-gray-700">
								<a href="#">
									<span aria-hidden="true" class="absolute inset-0" />
									Basic Tee
								</a>
							</h3>
							<p class="mt-1 text-sm text-gray-500">Charcoal</p>
						</div>
						<p class="text-sm font-medium text-gray-900">$35</p>
					</div>
				</div>

				<div class="group relative">
					<div
						class="min-h-80 aspect-w-1 aspect-h-1 lg:aspect-none w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:h-80"
					>
						<img
							src="https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-04.jpg"
							alt="Front of men's Artwork Tee in peach with white and brown dots forming an isometric cube."
							class="h-full w-full object-cover object-center lg:h-full lg:w-full"
						/>
					</div>
					<div class="mt-4 flex justify-between">
						<div>
							<h3 class="text-sm text-gray-700">
								<a href="#">
									<span aria-hidden="true" class="absolute inset-0" />
									Artwork Tee
								</a>
							</h3>
							<p class="mt-1 text-sm text-gray-500">Iso Dots</p>
						</div>
						<p class="text-sm font-medium text-gray-900">$35</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
