<script lang="ts">
	import Logo from '$components/Logo.svelte';
	import LockClosedIcon from '~icons/heroicons-solid/lock-closed';
	import { t } from 'svelte-intl-precompile';

	const registrationUrl = `/account/register`;
</script>

<div class="fixed inset-0 z-10 flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
	<!-- This element is to trick the browser into centering the page contents. -->
	<span class="hidden md:inline-block md:h-screen md:align-middle" aria-hidden="true">&#8203;</span>
	<div class="w-full max-w-md space-y-8">
		<div>
			<div class="text-center">
				<Logo />
			</div>
			<h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
				{$t('login.heading')}
			</h2>
			<p class="mt-2 text-center text-sm text-gray-600">
				{$t('login.or')}
				<a href={registrationUrl} class="font-medium text-sky-600 hover:text-sky-500">
					{$t('login.register')}
				</a>
			</p>
		</div>
		<form class="mt-8 space-y-6" action="#" method="POST">
			<input type="hidden" name="remember" value="true" />
			<div class="-space-y-px rounded-md shadow-sm">
				<div>
					<label for="email-address" class="sr-only">{$t('login.email.label')}</label>
					<input
						id="email-address"
						name="email"
						type="email"
						autocomplete="email"
						required
						class="relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm"
						placeholder={$t('login.email.placeholder')}
					/>
				</div>
				<div>
					<label for="password" class="sr-only">{$t('login.password.label')}</label>
					<input
						id="password"
						name="password"
						type="password"
						autocomplete="current-password"
						required
						class="relative block w-full appearance-none rounded-none rounded-b-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm"
						placeholder={$t('login.password.placeholder')}
					/>
				</div>
			</div>

			<div class="flex items-center justify-between">
				<div class="flex items-center">
					<input
						id="remember-me"
						name="remember-me"
						type="checkbox"
						class="h-4 w-4 rounded border-gray-300 text-sky-600 focus:ring-sky-500"
					/>
					<label for="remember-me" class="ml-2 block text-sm text-gray-900"
						>{$t('login.remember.label')}</label
					>
				</div>

				<div class="text-sm">
					<a href="#" class="font-medium text-sky-600 hover:text-sky-500">
						{$t('login.forgot.text')}
					</a>
				</div>
			</div>

			<div>
				<button
					type="submit"
					class="group relative flex w-full justify-center rounded-md border border-transparent bg-sky-600 py-2 px-4 text-sm font-medium text-white hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-sky-500 focus:ring-offset-2"
				>
					<span class="absolute inset-y-0 left-0 flex items-center pl-3">
						<LockClosedIcon
							class="h-5 w-5 text-sky-500 group-hover:text-sky-400"
							aria-hidden="true"
						/>
					</span>
					{$t('login.submit.text')}
				</button>
			</div>
		</form>
	</div>
</div>
