@import '@fontsource/lustria';
@import '@fontsource/lato';
@import '@fontsource/fira-mono';
@import '@fontsource/material-icons';

@import 'prism-themes/themes/prism-one-dark.css' (prefers-color-scheme: dark);
@import 'prism-themes/themes/prism-one-light.css' (prefers-color-scheme: light);

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Style autolink heading anchor. */
.prose :where(a[aria-hidden='true'].text-size-collapse) {
	font-size: 0;
}
