<script>
	import { page } from '$app/stores';
	import PageSchema from '$components/PageSchema.svelte';
	import { shouldShowPageSchema } from '$lib/stores';
	import { metadata } from '../content/about.svx';
</script>

{#if $shouldShowPageSchema}
	<PageSchema {metadata} />
{/if}

<div class="p-4">
	<div
		class="prose prose-slate mx-auto prose-headings:flex prose-headings:scroll-mt-24 prose-headings:items-center prose-headings:gap-1 dark:prose-invert"
	>
		<h1 class="text-2xl underline underline-offset-1">
			<a href={$page.url.pathname}>{metadata.title}</a>
		</h1>
		<slot />
	</div>
</div>
