<script lang="ts" context="module">
	import { locale } from 'svelte-intl-precompile';
	import env from '../environment';
	import { setEnvironment } from '$houdini';
	import { getSavedPreference } from '$lib/ua';

	setEnvironment(env);
</script>

<script lang="ts">
	import '../app.css';
	import { addMessages, init, getLocaleFromNavigator } from 'svelte-intl-precompile';
	import enTranslations from '$locales/en';
	import idTranslations from '$locales/id';
	import config from '../config.toml';
	import { onMount } from 'svelte';

	addMessages('en', enTranslations);
	addMessages('id', idTranslations);

	init({
		initialLocale: config.languageCode ?? getLocaleFromNavigator(),
		fallbackLocale: 'en'
	});

	onMount(() => {
		const savedLocale = getSavedPreference('locale');
		if (savedLocale) {
			$locale = savedLocale;
		}
	});
</script>

<slot />
